@media (min-width: 320px) and (max-width: 640px){
/*подвал*/
.footer {
  /*padding: 23px 0px;*/
  margin-top: 43px;
  margin-left: 15px;
  margin-right: 15px;
  max-width: 100%;
  /* margin: 0 auto; */
}

.footer_wrapper {
  max-width: 100%;
  background-color: #f4f7f6;
  height: 83px;
  /* margin: 0 auto;
  padding: 0px 15px; */
  /* z-index: 0; */
}

.icon_list {
  list-style: none;
  display: flex;
  justify-content: center;  
}
.icon_list_item{
  height: 83px;
}

/* .icon_link {
  display: block;
  width: 50px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  padding: 35px 15px;
  z-index: 1;
} */

.icon_dribbble_link {
  background-image: url("../svg/001-dribbble.svg");
  display: block;
  width: 50px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  padding: 35px 15px;
}

.icon_pinterest_link {
  background-image: url("../svg/001-pinterest.svg");
  display: block;
  width: 50px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  padding: 35px 15px;
}

.icon_tumblr_link {
  background-image: url("../svg/003-tumblr.svg");
  display: block;
  width: 50px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  padding: 35px 15px;
}

                              /*COPYRIGHT*/

.copyright {
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
  color: #999999;
  text-decoration: none;
  text-align: center;
}

.copyright_container {
width: 100%;
padding: 50px 0;
}



/* popup!!!! */
.popup{
  position: fixed;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  display: flex;
  z-index: 3;
  /* padding: 50px; */
  background: rgba(0, 0, 0, .7);
  visibility: hidden;
}
.popup_container{
  background: white;
  padding: 50px 15px 50px 15px;
  margin: auto;
  width: 320px;
  position: relative;
}
.form_group{
  padding-top: 30px;
}
.your_feedback_title{ /*заголовок*/
  text-align: center;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  }
  
  .your_feedback_title::after {/*полоса подчеркивания у заголовков*/
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 66px;
  height: 3px;
  background: #b59f5b;
  }
  .lable_title{
    font-family: open-sans-r;
    font-size: 13px;
  }
.visited{
  font-family: open-sans-r;
  font-size: 13px;
}
.listt{
  width: 100%;
  margin-top: 10px;
  height: 43px;
  background-color: #f4f7f6;
  border: 0px;
  outline: 0px;
  -webkit-appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 8px;
  padding-left: 15px;
}
.popup_text {
  font-size: 13px;
  font-family: open-sans-r;
}
.yes_no {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-family: open-sans-r;
}
.checkbox_group__control {
  display: none;
}
.checkbox_group__text::before {
  content: "";
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  margin-right: 15px;
}
.checkbox_group__control:checked+.checkbox_group__text::before {
  background-image: url(../svg/form-circle.svg);
}
.checkbox_group:nth-child(2) {
  margin-left: 15px;
}
.content_field {
  outline: none;
  resize: none;
  margin-top: 10px;
  width: 100%;
  height: 130px;
  border: none;
  background-color: #f4f7f6;
  padding: 20px 0 0 20px;
  font-size: 13px;
  font-family: open-sans-r;

}
.send_row{
  padding-top: 30px;
}
.send_button {
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  font-family: open-sans-b, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.popup_close {
  background-image: url(../svg/form-x.svg);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  position: absolute;
  top: -30px;
  right: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 7;
}
}